@import url('https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap');
.navbar-brand{
    font-family: 'Chelsea Market', cursive;
}

.chelsea-market{
    font-family: 'Chelsea Market', cursive;
}

.text-red{
    color: #ef5350;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-red{
    background-color: #ef5350 !important;
}

.get-btn{
    color:#ef5350 !important;
    border-color:#ef5350 !important;
}

.get-btn:hover{
    color:white !important;
    background-color:#ef5350 !important;
}